/* 자바스크립트 전체부분 */
.hidden {
    display: none;
}

/* 스타일폰트 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.container {
    width: 940px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

.nav {
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
}

.main {
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
}