h1{
    margin:50px 500px 20px 500px;padding:30px;
    /* margin-right: 700px; */
    text-align:center;
    position: relative;
    border-radius: 5px;
    color:gray;
    background-color: rgb(228, 228, 228);
    font-size: 40px;

}
.wrap{
    border:1px solid rgb(177, 177, 177);
    margin:50px 500px 20px 500px;padding:5px;
    
}
.wrap tr td{
    margin:10px;padding:20px;
    color:rgb(88, 88, 88);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

td input[type="text"]{
    width: 20%; height:20px;
    border:1px solid gray;
    margin-left: 10px;
}

td input[type="password"]{
    width: 30%; height:20px;
    border:1px solid gray;
    margin-left: 10px;
}


td input[type="button"]{
    border:1px solid gray;
    border-radius: 5px;
    background-color: #e0e8fffa;
    color:gray;
    cursor:pointer;
}
td select .phone{
    width: 10%; height:30px;
    border:1px solid gray;
}

td select .mail{
    width: 40%; height:30px;
    border:1px solid gray;
}

td input[type="submit"]{
    border:1px solid gray;
    border-radius: 5px;
    background-color: #e0e8fffa;
    color:gray;
    cursor:pointer;
}

td input[type="submit"]{
    border:1px solid gray;
    border-radius: 5px;
    background-color: #e0e8fffa;
    color:gray;
    cursor:pointer;
}