.fakeimg {
    height: 200px;
    background: #aaa;
  }
  a:link{
    color: black;
    text-decoration-line: none;
  }
  a:visited{
    color: black;
  }
  a:hover{
    color: #aaa;
  }
  #nav-item:hover{
    background-color:blue;
  }